<% project = Refinery::Projects::Project.where(:page_id => @page.id).first%>
<div class='cont'>
    <!--<div class="og-expander">-->
      <!--<div class="og-expander-inner">-->
         <!--<div class="og-fulling">-->
            <!--<img src=<%= project.photo.thumbnail("800x600#").url %> alt=<%=project.title%> class='picture'>-->
         <!--</div>-->
        <!--<div class="og-details show-all">-->
          <!--<h3><%= project.title %></h3>-->
          <!--<%= raw project.description%>-->
        <!--</div>-->
      <!--</div>​-->
    <!--</div>-->
  <ul id="og-grid" class="og-grid">
    <%= render '/refinery/projects/miniproject', :project => project %>
  </ul>
    <div class = 'text-container'>
        <%= raw @page.content_for(:body)%>
    </div>
</div>