<li>
	<a data-description= <%= project.description %> data-largesrc=<%= project.photo.thumbnail("600x6000").url%> data-title= <%= project.title%> ></a>
		<img src= <%= project.photo.thumbnail("600x6000").url%> alt= <%= project.title%> >
</li>
