<li>
	<a data-description= <%= project.description %> data-largesrc=<%= project.photo.thumbnail("10x10").url %> data-title= <%= project.title %> href=#></a>
		<img src= <%= project.photo.thumbnail("100x100").url %> alt= <%= project.title %> >
</li>
