<li>
	<a data-description= "<%= project.description %>" data-largesrc="<%= project.photo.thumbnail("800x600#").url %>" data-title= "<%= project.title %>" href=#>
		<img src="<%= project.photo.thumbnail("150x150#").url %>" alt="<%= project.title %>" > </a>
</li>
