<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"></meta>
  <meta charset="utf-8"></meta>
  <!-- Facebook Metadata -->
  <meta content="" property="fb:page_id"></meta>
  <meta content="" property="og:image"></meta>
  <meta content="" property="og:description"></meta>
  <meta content="" property="og:title"></meta>
  <!-- Google+ Metadata -->
  <meta content="" itemprop="name"></meta>
  <meta content="" itemprop="description"></meta>
  <meta content="" itemprop="image"></meta>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1", name="viewport"></meta>
  <!-- Stylesheet -->
  <%= stylesheet_link_tag 'bootstrap.min'%>
  <%= stylesheet_link_tag 'bootstrap-responsive.min.css'%>
  <%= stylesheet_link_tag 'kerweb'%>
  <%= stylesheet_link_tag 'prettyPhoto'%>
  <%= stylesheet_link_tag 'gumby'%>
  <%= stylesheet_link_tag 'media'%>
  <%= stylesheet_link_tag 'style'%>
  <%= stylesheet_link_tag 'stylesOnHtml'%>
  <%= stylesheet_link_tag 'body'%>
  <%= javascript_include_tag 'modernizr.custom.js'%>
  <%= javascript_include_tag 'jquery.min'%>
  <%= javascript_include_tag 'bootstrap.min'%>
  <%= javascript_include_tag 'kerweb'%>
  <%= javascript_include_tag 'jaslide'%>
  <%= javascript_include_tag 'jquery.prettyPhoto'%>
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <title><%= browser_title(yield(:title)) %></title>
  <%= raw %(<meta name="description" content="#{@meta.meta_description}" />) if @meta.meta_description.present? -%>
  <%= raw %(<meta name="keywords" content="#{@meta.meta_keywords}">) if @meta.meta_keywords.present? -%>
  <%= raw %(<link rel="canonical" content="#{@canonical}" />) if @canonical.present? -%>
  <%= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend -%>
  <%= yield :meta %>
  <%= yield :stylesheets %>

  <%= render '/refinery/google_analytics' %>
</head>
